<main
class="login-form-container">
    <form
    class="login-form">
        <div
        class="log-in-title">
            <div
            class="login-form-title-container">
                <h1
                id="log-in-title">
                    Log In
                </h1>
            </div>
            <div
            class="login-form-auth-button-container">
                <button
                class="login-form-auth-button">
                    Use Google Account
                </button>
            </div>
        </div>
        <div 
        class="login-form-horizontal-rule-container">
            <span
            class='roboto'>
                or
            </span>
        </div>
        <app-login-form-input
        
        ></app-login-form-input>
        <app-login-form-input
        
        ></app-login-form-input>
    </form>
</main>