<div
class="login-landing-background">
    <header
    class="login-landing-asana-logo-container">
        <img
        src="../../assets/logos/reskin_logo.png"
        alt="Asana Logo"
        />
    </header>
    <app-login-form></app-login-form>
    <footer
    class="login-landing-content-container noto-sans">
        <div
        class="login-landing-register">
            Don't have an account?
            <button
            class="login-landing-sign-up">
                Sign Up
            </button>
        </div>
        <div
        class="login-landing-contact">
            <ul>
                <li>About Asana</li>
                <li>•</li>
                <li>Blog</li>
                <li>•</li>
                <li>Jobs</li>
                <li>•</li>
                <li>Help</li>
                <li>•</li>
                <li>Terms</li>
            </ul>
        </div>
    </footer>

</div>
