<app-nav></app-nav>
<main
class="main-landing-info-container">
    <div
    class="main-landing-info">
        <h1
        class="quicksand main-landing-tag-line">Make more time for the work that matters most</h1>
        <h2
        class="quicksand main-landing-sub-tag-line">Asana is the work management platform teams use to stay focused on the goals, projects, and daily tasks that grow business.</h2>
    </div>
</main>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />