/* imports */
@import "./login-form-input/login-form-input.component.scss"; // $input-width, $label-font-color
/* variables */
$space-1: 100px;
$auth-button-color: #14aaf5;
$auth-button-color-hover: rgb(56, 140, 220);
$auth-button-hover-transition: background-color .2s ease;
$font: 'Roboto', sans-serif;
/* styles */
.login-form {
    width: 40vw;
    height: 80vh;
    background-color: white;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15)
}
.login-form-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    div.login-form-title-container {
        width: 100%;
        height: $space-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    h1#log-in-title {
        font-family: $font;
        font-size: 1.8em;
    }
}
div.login-form-auth-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button.login-form-auth-button {
        background-color: $auth-button-color;
        border: none;
        height: 40px;
        width: 150px;
        color: white;
        border-radius: 4px;
        font-size: .8em;
        cursor: pointer;
        transition: $auth-button-hover-transition; 
        outline: none;
    }
    button.login-form-auth-button:hover {
        background-color: $auth-button-color-hover
    }
}
div.login-form-horizontal-rule-container {
    width: 100%;
    height: 40px;
    // border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #b7bfc6;
    font-size: 1.5em;
    margin-top: 35px;
}
div.login-form-horizontal-rule-container::after, div.login-form-horizontal-rule-container::before{
    // border-top: 1px solid gray;
    top: 1px;
    position: relative;
    width: 200px;
    height: 1px;
    background-color: #e8ecee;
    content: "";
}
div.login-form-horizontal-rule-container::after {
    margin-right: 65px;
}
div.login-form-horizontal-rule-container::before {
    margin-left: 65px;
}
div.login-form-input-container {
    margin-top: 15px;
    // border: 1px solid red;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.login-form-recover-password-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-form-recover-password-align {
    width: $input-width;
    color: $label-font-color;
}
.login-form-recover-password {
    font-family: 'Noto Sans', sans-serif;
    font-size: .65em;
    border-bottom: 1px dotted $label-font-color;
    width: max-content;
    cursor: pointer;
}
.login-form-recover-password:hover {
    border-bottom: 1px solid $label-font-color;
}
.login-form-button-container {
    // border: 1px solid red;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-form-button-align {
        // border: 1px solid black;
        height: max-content;
        display: flex;
        width: $input-width;
        justify-content: flex-end;
        button.login-form-button {
            width: 70px;
            height: 40px;
            font-size: .8em;
            border-radius: 5px;
            color: white;
            background: $auth-button-color;
            transition: $auth-button-hover-transition;
            border: none;
            cursor: pointer;
            outline: none;
        }
        button.login-form-button:hover {
            background: $auth-button-color-hover;
        }
        button.login-form-button:disabled {
            color: #b7bfc6;
            background: #edf1f2;
            border: 1px solid #e8ecee;
        }
    }
}