//variables
$try-button-bg-color: #796eff;
$nav-items-hover-color: #635ac7;
//styles
.nav-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    position: sticky;
    top: 0;
    transition: box-shadow .3s;
    .nav-logo {
        width: 110px;
        margin-left: 15px;
    }
    .nav-items {
        display: flex;
        width: 50vw;
        justify-content: space-between;
        // border: 1px solid red;
        align-items: center;
        margin-right: 10px;
        font-weight: 1000;
        button.nav-try {
            height: 36px;
            width: 120px;
            background: $try-button-bg-color;
            color: white;
            font-size: 14px;
            font-weight: 1000;
            border: 1px solid $try-button-bg-color;
            border-radius: 3px;
            transition: background .15s;
            cursor: pointer;
        }
        button.nav-try:hover {
            background: $nav-items-hover-color;
        }
    }
    .nav-items > li {
        cursor: pointer;
        transition: color .5s;
    }
    .nav-items > li:hover {
        color: $nav-items-hover-color;
    }
}
.not-at-top {
    box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
}
.dropdown {
    display: none;
    position: absolute;
    box-shadow: 0 25px 30px 0 rgba(36,50,66,.08);
}
.dropdown-1, .dropdown-2 {
    width: 180px;
    background: white;
    border-radius: 3px;
    menu {
        display: flex;
        flex-direction: column;
        color: #000;
        span {
            transition: color .3s;
            margin-top: 40px;
            margin-left: 20px;
        }
        span:hover {
            color: $nav-items-hover-color;
        }
    }
}
.trigger-dropdown-1:hover .dropdown-1 {
    display: block;
}
.dropdown-1 {
    left: 74vw;
    height: 150px;
}
.dropdown-2 {
    left: 67vw;
    height: 250px;
}
.trigger-dropdown-2:hover .dropdown-2{
    display: block;
}