<nav
class="nav-container">
    <img 
    src="../../../assets/logos/asana.png" 
    alt="asana_logo"
    class="nav-logo">

    <div>
        <ul
        class="nav-items quicksand">
            <li
            class="nav-items-li">Templates</li>
            <li
            class="nav-items-li">Product</li>
            <li
            class="nav-items-li">Pricing</li>
            <li>Solutions</li>
            <li
            class="trigger-dropdown-1">
                Contact Sales
                <div
                class="dropdown dropdown-1">
                    <menu>
                        <span>Request Info</span>
                        <span>View Demo</span>
                    </menu>
                </div>
            </li>
            
            <li
            class="nav-items-li">Log In</li>
            <li>
                <button
                class="nav-try quicksand">
                    Try for free
                </button>
            </li>
        </ul>
    </div>
</nav>